.button{
    text-align: center;
    padding: 16px 24px;
    background-color: var(--yellow);
    border-radius: 10px;
    font-family: 'Open Sans';
    width: fit-content;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 415px) {
    .button{
        width: 100%;
        border-radius: 5px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 16px;
        line-height: 22px;
    }
}