.CompanyInfo{
    width: 77%;
}

h1{
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 0;
}
p{
    font-size: 20px;
    line-height: 26px;
    text-align: start;
}

.mainBanner{
    background-color: #EEC447;
    margin-top: 50px;
    margin-bottom: 72px;
}

.mainBanner img{
    width: 77%;
    height: 500px;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 415px) {
    h1{
        font-size: 32px;
        line-height: 36px;
    }
    p{
        font-size: 12px;
        line-height: 18px;
    }
    
    .mainBanner{
        background-color: #EEC447;
        margin-top: 16px;
        margin-bottom: 28px;
    }
    
    
    .mainInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 50px;
    }
    .mainBanner img{
        width: 77%;
        height: auto;
    }
}