.AuthorizationLogIn{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 710px;
    background-color: #F4F5F4;
    border-radius: 10px;

    padding-bottom: 63px;
    z-index: 12;
}
.cross{
    position: absolute;
    align-self:flex-end;
    padding-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    
}
h3{
    background-color: #FFD300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 64px;
    width: 273px;
    font-weight: 700;
    padding: 10px 0px;
    margin-bottom: 16px;
    letter-spacing: 8%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}

.enterButton{
    background-color: #FFD300;
    padding: 0;
    width: 600px;
    border: 0px;
    font-size: 32px;
    line-height: 36px;
    cursor: pointer;
}

p{
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    cursor: pointer;
}

.formButtons{
    margin-top: 56px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
}
input{
    height: 100px;
    width: 570px;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    border:0px;
    border: 1px #C5C2B3 solid;
    background-color: #F4F5F4;
}

.signUpRef{
    color: #8F8E81;
}

#authorize-shade{
    background: rgba(34, 30, 5, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    .enterButton{
        background-color: #FFD300;
        padding: 0;
        width: 600px;
        border: 0px;
        font-size: 32px;
        line-height: 36px;
    }
    
    p{
        font-size: 24px;
        line-height: 30px;
        margin: 0;
    }
    
    .formButtons{
        margin-top: 56px;
        margin-bottom: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 44px;
    }
    input{
        height: 100px;
        width: 570px;
        font: inherit;
        letter-spacing: inherit;
        word-spacing: inherit;
        font-size: 24px;
        line-height: 30px;
        padding-left: 30px;
        border:0px;
        border: 1px #C5C2B3 solid;
    }
    
    .signUpRef{
        color: #8F8E81;
    }
    
    #authorize-shade{
        background: rgba(34, 30, 5, 0.3);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 11;
        left: 0;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
    }





@media screen and (max-width: 710px) {
    .AuthorizationLogIn{
        height: 340px;
        width: 340px;
        left:50%;
        margin-left:0;
        z-index: 12;
    }
    .AuthorizationLogIn .cross{
        padding-right: 16px;
        margin-top: 16px;
        width: 20px;
        height: 20px;
    }
    .AuthorizationLogIn h3{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 29px;
        width: 137px;
        font-weight: 700;
        padding: 5px 20px;
        letter-spacing: 8%;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        text-align: center;
    }
    
    .AuthorizationLogIn .enterButton{
        width: 280px;
        height: 50px;
        border: 0px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
    }
    
    .AuthorizationLogIn p{
        font-size: 11px;
        line-height: 14px;
        margin: 0;
        margin-top: 8px;
    }
    
    .AuthorizationLogIn .formButtons{
        margin-top: 27px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    .formButtons input{
        height: 50px;
        width: 276px;
        font: inherit;
        letter-spacing: inherit;
        word-spacing: inherit;
        font-size: 11px;
        line-height: 14px;
        padding-left: 14px;
    }
}