.AuthorizationSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 840px;
    width: 710px;
    background-color: #F4F5F4;
    border-radius: 10px;

    position: inherit;

    left:50%;
    margin-left:-355px;
    top: 118px;

    z-index: 12;
}
.cross{
    position: absolute;
    align-self:flex-end;
    padding-right: 20px;
    margin-top: 20px;
    
}

h3{
    background-color: #FFD300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 0;
    line-height: 64px;
    width: 273px;
    padding: 10px 0px;
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 40.1739px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #221E05;
}

.signUpButton{
    background-color: #FFD300;
    padding: 0;
    width: 600px;
    border: 0px;
    font-size: 32px;
    line-height: 36px;
}

p{
    font-size: 24px;
    line-height: 30px;
}

.formButtons{
    margin-top: 56px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
}
input{
    height: 100px;
    width: 570px;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    border-radius: 5px;
    border:0px;
    border: 1px #C5C2B3 solid;
}
.enterRef{
    color: #8F8E81;
}

#authorize-shade{
    background: rgba(34, 30, 5, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 11;
}

@media screen and (max-width: 415px) {
    .AuthorizationSignUp{
        height: 425px;
        width: 340px;
        left:50%;
        margin-left:-355px;
        top: 118px;
    
        z-index: 12;
    }
    .cross{
        padding-right: 16px;
        margin-top: 16px;
        
    }
    h3{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 29px;
        width: 137px;
        font-weight: 700;
        padding: 5px 20px;
        letter-spacing: 8%;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        text-align: center;
    }
    
    .signUpButton{
        width: 280px;
        height: 50px;
        border: 0px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
    }
    
    p{
        font-size: 11px;
        line-height: 14px;
        margin: 0;
    }
    
    .formButtons{
        margin-top: 27px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    input{
        height: 50px;
        width: 280px;
        font: inherit;
        letter-spacing: inherit;
        word-spacing: inherit;
        font-size: 11px;
        line-height: 14px;
        padding-left: 14px;
    }
}