.AuthorizationSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 840px;
    width: 710px;
    background-color: #F4F5F4;
    border-radius: 10px;
}
.cross{
    position: absolute;
    align-self:flex-end;
    padding-right: 20px;
    margin-top: 20px;
    
}

h3{
    background-color: #FFD300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 64px;
    width: 273px;
    font-weight: 700;
    padding: 10px 0px;
    margin-bottom: 16px;
    letter-spacing: 8%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.signUpButton{
    background-color: #FFD300;
    padding: 0;
    width: 600px;
    border: 0px;
    font-size: 32px;
    line-height: 36px;
}

p{
    font-size: 24px;
    line-height: 30px;
}

.formButtons{
    margin-top: 56px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
}
input{
    height: 100px;
    width: 570px;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    border-radius: 5px;
    border:0px;
    border: 1px #C5C2B3 solid;
}
.enterRef{
    color: #8F8E81;
}