.AnimalsFilter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 93%;
    margin-top: 28px;
    margin-bottom: 36px;

    filter: drop-shadow(3px 3px 16px rgba(31, 71, 101, 0.05));
}

@font-face {
    font-family: Open Sans;
    src: url(../../fonts/OpenSans.ttf);
}

.hiddenFilter {
    display: none;
}

.AnimalsFilter>select {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */


    color: #221E05;
}

select {
    appearance: none;
    letter-spacing: inherit;
    word-spacing: inherit;
    height: 54px;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("./ChooseSign.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    border: 0;
    border-radius: 5px;


    outline: #C5C2B3;

}

select:focus {
    border: medium;
}

@media screen and (max-width: 415px) {
    .hiddenFilter {
        display: inline;
        width: 92%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        line-height: 16px;
        height: 30px;
        border: 0px;
        background-color: #FAFAFA;
        border-radius: 2px;

    }

    .AnimalsFilter {
        margin-top: 8px;
        margin-bottom: 16px;
        width: 100%;
        justify-content: center
    }

    .chooseSign {
        width: 10px;
        margin-left: 16px;
    }

    .AnimalsFilter select {
        font-size: 10px;
        line-height: 15px;
        height: 30px;
        background-position: calc(100% - 15px);
        padding-left: 12px;
        padding-right: 35px;
        background-size: 10px;

    }

    .AnimalsFilter{
        gap: 8px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .AnimalsFilter>button{
        margin-bottom: 12px;
    }
}