.AnimalsList{
    display: grid;
    column-gap: 77px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, 320px);
    width: 77%;
    justify-content: center;
    margin-bottom: 40px;
}


@media screen and (max-width: 415px) {
    .AnimalsList{
         column-gap: 20px;
         row-gap: 12px;
         grid-template-columns: repeat(auto-fit, 180px);
         width: 92%;
         justify-content: center;
    }
   
}