.footer{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    margin-bottom:20px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
}

.socialNetwork{
    display: flex;
    gap: 36px;
}

.socialNetwork > img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 415px) {
    .footer{
        width: 100%;
        flex-direction: column;
        gap: 0;
        height: fit-content;
        align-items: center;
        box-sizing: border-box;
        padding: 16px 20px;
    }

    .about{
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
        column-gap: 10%;
    }

    .socialNetwork{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 36px;
    }

    .footer > *{
        width: 100%;
        margin-left: 0px;
    }
}