.dogInfoPage{
    width: 100%;
    padding: 13px 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.dogInfoPage p{
    text-align: start;
}

.returnBackButton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px;
    width: fit-content;

    text-decoration: none;
    color: black;
    font-size: 20px;
}

.dogInfo{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: fit-content;
}

.dogPicture{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;

    background-size: cover;

    height: 478px;
    width: 57.5%;
    border-radius: 10px;
}

.dogPictureButtons{
    display: flex;
    width: 70%;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.dogPictureButtons > a{
    flex: 1;
    background-color:  rgba(240, 240, 240, 0.7);
    border-radius: 5px;
    height: 6px;
}
.dogProfile{
    width: 40.8%;
}

.dogProfile_mobile{
    display: none;
}

.dogMainInfo{
    background-color: var(--yellow);
    height: 264px;
    width: 100%;
    border-radius: 10px;
    padding: 28px 32px;
    box-sizing: border-box;

    margin-bottom: 33px;
}

.infoBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}


.dogText{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dogPrice{
    font-size: 24px;
}

.dogName{
    font-size: 32px;
}

.dogDescription{
    font-size: 20px;
}

.dogTextBottom{
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: space-between;
}

.addInfo{
    width: 442px;
    margin-left: 52px;
}

.addInfoText{
    margin-top: 10px;
    font-size: 20px;
}

.dogParams{
    margin-top: 41px;

    display: flex;
    gap: 20px;
}

.dogHistory{
    display: flex;
    gap: 20px;

    margin-top: 30px;
}

.dogHistory_mobile{
    display: none;
}

.reccomendations{
    margin-top: 70px;
    width: 100%;
}

.sepLine{
    width: 100%;
    border: 1px solid #C5C2B3;
}

.similar{
    margin-top: 16px;
    width: 100%;
    padding: 0 30px;
}

.watched{
    margin-top: 63px;
    width: 100%;
    padding: 0 30px;
}

.dogShowcase{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 77px;
    margin-top: 30px;
    padding-left: 5%;

}

.addInfo_mobile{
    display: none;
}

@media screen and (max-width: 415px) {

    .dogInfoPage{
        padding: 25px 16px;
    }

    .dogInfo{
        margin-top: 25px;
        flex-direction: column;
        height: fit-content;
        gap: 16px;
    }

    .dogPicture{
        width: 100%;
        height: 236px;
    }

    .dogProfile{
        display: none;
    }

    .dogProfile_mobile{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .dogText{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;         
    }

    .dogMainInfo{
        padding: 12px 16px;
        height: fit-content;
        margin: 0;
    }

    .infoBox > p{
        font-size: 11px;
    }

    .dogText > div{
        width: 70%;         
    }

    .dogPrice{
        font-size: 16px;
    }

    .dogName{
        font-size: 16px;
    }

    .dogDescription{
        font-size: 11px;
        line-height: 15px;
    }

    .dogTextBottom > *{
        padding: 0 6px;
    }

    .dogParams{
        margin-top: 16px;
        flex-wrap: wrap;
    }

    .dogHistory{
        display: none;
    }

    .dogHistory_mobile{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        margin: 23px 0;
    }

    .dogHistory_mobile > *{
        padding: 7px 20px;
        line-height: 16px;
    }

    .addInfo_mobile{
        display: block;
    }

    .addInfo_mobile p:first-child{
        color: #8B8978;
        font-size: 10px;
        line-height: 15px;
    }

    .addInfo_mobile p:last-child{
        font-size: 12px;
        margin-top: 6px;
        line-height: 18px;
    }

    .reccomendations{
        margin-top: 28px;
    }

    .similar{
        padding: 0;
        margin-top: 12px;
    }

    .similar > p {
        font-size: 12px;
    }

    .watched{
        padding: 0;
        margin-top: 12px;
    }

    .watched > p {
        font-size: 12px;
    }

    .dogShowcase{
        gap: 20px;
        padding: 0;
    }
}